.container {
    background-color: black;
}


.header {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    font-size: 40px;
}

.writing {
    width: 700px;
    display: flex;
    margin-left: 770px;
    flex-direction: column;
   position: relative;
   bottom: 300px;
}

.firstImage {
    display: flex;
    position: relative;
    top: 50px;
    margin-left: 250px;
}

.moreImages {
    margin-left: 150px;
}