.container {
    background-color: black;
}


.header {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    font-size: 40px;
}

.progress {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}