.title {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    font-size: 40px;
}
.writing {
    margin-left: 1100px;
    position: relative;
    bottom: 570px;
    width: 500px;
}
.firstImage {
    margin-left: 50px;
    margin-top: 70px;
}

.writing p {
    font-size: 20px;
}