.footer {
    background-color: #AE95DA;
    height: 140px;
    display: flex;
}

.heading {
    font-size: 32px;
    margin-left: 50px;
    margin-top: 20px;
}

.container a {
    font-size: 25px;
    margin-left: 50px;
}
